@model PagedList.IPagedList<Models.Framework.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center;margin-top:20px;margin-bottom:20px">
    <h2 style="color:#a10707">Danh sách sản phẩm</h2>
</div>
@using (Html.BeginForm("ShowSanPham","AdSanPham",FormMethod.Get))
{
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-4">
            <input type="text" name="searchString" class="form-control w-100" value="@ViewBag.SearchString"/>
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Tìm kiếm"/>
        </div>
        <div class="col-md-4">
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Nhà sản xuất
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Ảnh sản phẩm
        </th>
        <th>
            Giá sản phẩm
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hang.tenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenSanpham)
            </td>
            <td>
                <img src="~/Assets/HinhSP/@item.anhSanpham" style="width:2rem;height:2rem" />
            </td>
            <td style="color:red;font-weight:bold">
                @String.Format("{0:0,0 VNĐ}",item.giaSanpham)
            </td>
            <td>
                <a href="@Url.Action("ThemChiTietSanPham", "AdSanPham", new { @idSanpham = item.idSanpham })" style="color:blue;text-decoration:none">
                    Chỉnh sửa |
                </a>
                <a href="@Url.Action("ThemChiTietSanPham", "AdSanPham", new { @idSanpham = item.idSanpham })" style="color:blue;text-decoration:none">
                    Thêm chi tiết |
                </a>
                <a href="@Url.Action("CapNhatCTSanPham", "AdSanPham", new { @idSanpham = item.idSanpham })" style="color:blue;text-decoration:none">
                    Cập nhật chi tiết |
                </a>
                <a href="@Url.Action("XoaSanPham", "AdSanPham", new { @idSanpham = item.idSanpham,@URL = Request.Url.ToString() })" style="color:blue;text-decoration:none">
                    Xóa
                </a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("ShowSanPham", new { page, @searchString = ViewBag.SearchString}))


